@font-face {
    font-family: SFPro;
    src: url(../../sources/fonts/SFPro/SF-Pro-Text-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: SFPro;
    src: url(../../sources/fonts/SFPro/SF-Pro-Text-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: SFPro;
    src: url(../../sources/fonts/SFPro/SF-Pro-Text-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: SFPro;
    src: url(../../sources/fonts/SFPro/SF-Pro-Text-Light.otf);
    font-weight: light;
}
